<header>
  <div class="wrp">
    <a routerLink="/home" class="logo" title="#AjudeUmaPesquisa">
      <img src="../../../assets/images/layout/logo-ajude-uma-pesquisa.png"
      />#AjudeUmaPesquisa
    </a>
    <div class="menu">
      <div class="acion-menu-mobile">
        <span class="icon ico-menu">
          <svg>
            <use xlink:href="../../../assets/svg/svg/symbols.svg#menu" />
          </svg>
        </span>
        <span class="icon ico-close">
          <svg>
            <use xlink:href="../../../assets/svg/svg/symbols.svg#close" />
          </svg>
        </span>
      </div>
      <ul class="c-nav">
        <li class="c-nav__item">
          <a href="" title="Sobre" class="c-nav__link">Sobre</a>
        </li>
        <li class="c-nav__item">
          <a href="" title="Pesquisas Clínicas" class="c-nav__link"
            >Pesquisas Clínicas</a
          >
        </li>
        <li class="c-nav__item">
          <a href="" title="Voluntários" class="c-nav__link">Voluntários</a>
        </li>
        <li class="c-nav__item">
          <a href="" title="FAQ" class="c-nav__link">FAQ</a>
        </li>
        <li class="c-nav__item c-nav__item--icon">
          <a title="Registre-se" class="c-nav__link dropdown-toggle"
            >Registre-se
            <svg>
              <use xlink:href="../../../assets../../../assets/svg/svg/symbols.svg#arrow-option" />
            </svg>
          </a>
          <div class="c-nav__dropdown">
            <a
              class="c-nav__dropdown-item"
              href="/registro-pf.html"
              title="Pesquisador Clínico"
              >Pesquisador Clínico</a
            >
            <a
              class="c-nav__dropdown-item"
              href="/registro-pj.html"
              title="Laboratório Clínico"
              >Laboratório Clínico</a
            >
          </div>
        </li>
        <li class="c-nav__item c-nav__item--icon">
          <a
            href="/acessar-a-conta.html"
            title="Acessar conta"
            class="c-nav__link"
            >Acessar conta
            <svg>
              <use xlink:href="../../../assets/svg/svg/symbols.svg#arrow" />
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>
