<section class="c-banner">
    <div class="container">
      <div class="c-banner__info">
        <h2 class="c-banner__title">Ajude uma Pesquisa Clínica</h2>
        <p class="c-banner__description">Divulge, pesquise, compartilhe sobre as <a href="" class="c-banner__link" title="pesquisas clínicas">pesquisas clínicas</a> em andamento no Brasil.</p>
      </div>
      <div class="banner__cover">
        <img src="./../../../assets/images/banner/ajude-uma-pesquisa-info.png" alt="Ilustração sobre pesquisas clínicas" class="banner__img">
      </div>
    </div>
    <a href="" title="Scroll Down" class="c-banner__link-scroll">
      <svg>
        <use xlink:href="./../../../assets/svg/svg/symbols.svg#arrow-scroll" />
      </svg>
    </a>
</section>