<app-banner></app-banner>

<section class="research">
  <div class="filter">
    <div class="container">
      <form id="f-research" action="" class="c-form">
        <div class="c-form-search__group c-form__form-group--search">
          <label for="search" class="is-hidden"
            >Digite o nome da pesquisa Clínica</label
          >
          <div class="c-form__box">
            <input
              type="search"
              class="c-form__form-control"
              id="search"
              placeholder="Digite o nome da pesquisa Clínica"
            />
            <button title="Pesquisar" class="c-form__btn-icon">
              <svg>
                <use xlink:href="./../../../assets/svg/svg/symbols.svg#search" />
              </svg>
            </button>
          </div>
        </div>
        <div class="c-form-search__group c-form-search__group--inline">
          <div class="col-form-2">
            <label for="research_type" class="is-hidden"
              >Tipo de pesquisa</label
            >
            <select id="research_type" class="form-search__control">
              <option>Tipo de pesquisa</option>
              <option>Remédio</option>
              <option>Reabilitaçãoa</option>
              <option>Questionário</option>
            </select>
            <label for="research_state" class="is-hidden">Estado</label>
            <select id="research_state" class="form-search__control">
              <option>Estado</option>
              <option>Estado</option>
            </select>
          </div>
          <div class="col-form-2 col-form__sort">
            <label for="research_sort">Ordenar por</label>
            <select id="research_sort" class="form-search__control">
              <option>Ordenar por</option>
              <option>Data mais recente</option>
            </select>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="list-card">
    <div class="container">
      <div class="c-card">
        <div class="c-card__content">
          <a href="">
            <h3 class="c-card__title">
              Accelerating IoT deployment for under $50
            </h3>
            <p class="c-card__detail">
              Cheap & ease onborading, fully customizable plans, and
              developer-friendly APs enable companies to get up and runnin
              quickly. Even with limited budgets.
            </p>
          </a>
          <a href="">
            <p class="c-card__location">São Paulo</p>
          </a>
        </div>
        <div class="c-card__footer">
          <div class="c-card__labels">
            <span class="c-label c-label--remedio">remédio</span>
            <span class="c-label c-label--reabilitacao">reabilitação</span>
            <span class="c-label c-label--questionario">questionário</span>
          </div>
        </div>
      </div>
      <div class="c-card">
        <div class="c-card__content">
          <a href="">
            <h3 class="c-card__title">
              Accelerating IoT deployment for under $50
            </h3>
            <p class="c-card__detail">
              Cheap & ease onborading, fully customizable plans, and
              developer-friendly APs enable companies to get up and runnin
              quickly. Even with limited budgets.
            </p>
          </a>
          <a href="">
            <p class="c-card__location">São Paulo</p>
          </a>
        </div>
        <div class="c-card__footer">
          <div class="c-card__labels">
            <span class="c-label c-label--remedio">remédio</span>
            <span class="c-label c-label--reabilitacao">reabilitação</span>
            <span class="c-label c-label--questionario">questionário</span>
          </div>
        </div>
      </div>
      <div class="c-card">
        <div class="c-card__content">
          <a href="">
            <h3 class="c-card__title">
              Accelerating IoT deployment for under $50
            </h3>
            <p class="c-card__detail">
              Cheap & ease onborading, fully customizable plans, and
              developer-friendly APs enable companies to get up and runnin
              quickly. Even with limited budgets.
            </p>
          </a>
          <a href="">
            <p class="c-card__location">São Paulo</p>
          </a>
        </div>
        <div class="c-card__footer">
          <div class="c-card__labels">
            <span class="c-label c-label--remedio">remédio</span>
            <span class="c-label c-label--reabilitacao">reabilitação</span>
            <span class="c-label c-label--questionario">questionário</span>
          </div>
        </div>
      </div>
      <div class="c-card">
        <div class="c-card__content">
          <a href="">
            <h3 class="c-card__title">
              Accelerating IoT deployment for under $50
            </h3>
            <p class="c-card__detail">
              Cheap & ease onborading, fully customizable plans, and
              developer-friendly APs enable companies to get up and runnin
              quickly. Even with limited budgets.
            </p>
          </a>
          <a href="">
            <p class="c-card__location">São Paulo</p>
          </a>
        </div>
        <div class="c-card__footer">
          <div class="c-card__labels">
            <span class="c-label c-label--remedio">remédio</span>
            <span class="c-label c-label--reabilitacao">reabilitação</span>
            <span class="c-label c-label--questionario">questionário</span>
          </div>
        </div>
      </div>
      <div class="c-card">
        <div class="c-card__content">
          <a href="">
            <h3 class="c-card__title">
              Accelerating IoT deployment for under $50
            </h3>
            <p class="c-card__detail">
              Cheap & ease onborading, fully customizable plans, and
              developer-friendly APs enable companies to get up and runnin
              quickly. Even with limited budgets.
            </p>
          </a>
          <a href="">
            <p class="c-card__location">São Paulo</p>
          </a>
        </div>
        <div class="c-card__footer">
          <div class="c-card__labels">
            <span class="c-label c-label--remedio">remédio</span>
            <span class="c-label c-label--reabilitacao">reabilitação</span>
            <span class="c-label c-label--questionario">questionário</span>
          </div>
        </div>
      </div>
      <div class="c-card">
        <div class="c-card__content">
          <a href="">
            <h3 class="c-card__title">
              Accelerating IoT deployment for under $50
            </h3>
            <p class="c-card__detail">
              Cheap & ease onborading, fully customizable plans, and
              developer-friendly APs enable companies to get up and runnin
              quickly. Even with limited budgets.
            </p>
          </a>
          <a href="">
            <p class="c-card__location">São Paulo</p>
          </a>
        </div>
        <div class="c-card__footer">
          <div class="c-card__labels">
            <span class="c-label c-label--remedio">remédio</span>
            <span class="c-label c-label--reabilitacao">reabilitação</span>
            <span class="c-label c-label--questionario">questionário</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
