/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@400&display=swap');

@import "../src/app/styles/helper/colors";
@import "../src/app/styles/helper/variables";

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Catamaran";
    color: color($black, 200);
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat';
    color: color($blue, 100);
}

.filter {
    @include bp($desktop) {
        padding: 40px;
    }
}

.is-hidden {
    display: none;
}

.hidden-label {
    font-size: 0;
}

a:hover,
a:active {
    color: inherit;
}



.c-form {
    padding-bottom: 20px;
    position: relative;
    input,
    select,
    textarea {
        padding: 14px 10px;
        border: 1px solid color($gray, 400);
        background-color: color($white, 100);
        border-radius: 4px;
        //box-shadow: 1px 1px 15px rgba(197, 181, 181, 0.8);
        width: 100%;
        outline-color: color($blue, 100);
        font-family: 'Catamaran';
        font-size: 14px;
    }

    input[type="radio"],
    input[type="checkbox"] {
        width: auto;
    }

    .c-form__group {
        &.c-form__group--right {
            text-align: right;
        }
        &.c-form__group--top {
            margin-top: 20px;
        }
    }
    
    @for $i from 1 through 6 {
        .col-form-#{$i} { 
            @include bp($tablet) {
                display: inline-block;
                vertical-align: top;
                margin-right: 1.4%;
                width: calc(96.4% / #{$i});
            }
        }
    }

    .col-form--align {
        vertical-align: bottom;
    }

    .c-form-search__group {
        &.c-form__form-group--search {
            display: block;
            max-width: 400px;
            margin: 0 auto 60px auto;

            &::before {
                display: block;
                content: '';
                max-width: 400px;
                height: 45px;
                position: absolute;
                top: 0;
                left: 4px;
                background-color: color($yellow, 200);
            }
            #search {
                position: relative;
                padding-right: 50px;
            }
        }

        &.c-form-search__group--inline {
            .form-search__control {
                margin-bottom: 10px;
                
                @include bp($tablet) {
                    display: inline-block;
                    width: calc(92% / 2);
                    vertical-align: top;
                    margin-right: 10px;
                    margin-bottom: 0;
                }
            }

            .col-form__sort {
                line-height: 40px;
                margin-right: 0;
                
                @include bp($tablet) {
                    text-align: right;
                }
                
                label {
                    margin-right: 10px;
                }
            }
        }
    }

    .c-form__box {
        position: relative;
    }

    .c-form__btn {
      background: #6e81f4;
      border: 0;
      color: #f5f3f3;
      font-weight: bold;
      padding: 10px 20px;
      border-radius: 20px;
      box-shadow: 0px 6px 14px rgba(109, 129, 244, 0.8);
      margin-top: 40px;
      cursor: pointer;
      -webkit-transition: all 0.2s cubic-bezier(0.4, 0, 1, 1);
      -moz-transition: all 0.2s cubic-bezier(0.4, 0, 1, 1);
      -ms-transition: all 0.2s cubic-bezier(0.4, 0, 1, 1);
      -o-transition: all 0.2s cubic-bezier(0.4, 0, 1, 1);

      &:hover {
        opacity: .9;

        @include bp($desktop) {
            -webkit-transform: scale(1.035);
            -moz-transform: scale(1.035);
            -ms-transform: scale(1.035);
            -o-transform: scale(1.035);
            opacity: 1;
        }
      }
    }
    .c-form__btn-icon {
        background: transparent;
        border: 0;
        position: absolute;
        right: 20px;
        top: 0;
        bottom: 0;
        svg {
            width: 20px;
            height: 20px;
            fill: color($pink, 100);
        } 
    }

    .c-form__link {
        color: color($pink, 100);
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}

.c-label {
    padding: 2px 10px;
    background-color: color($gray, 400);
    vertical-align: middle;
    border-radius: 4px;
    display: inline-block;
    margin-left: 10px;
    @include em(12);;
    font-weight: 600;
    letter-spacing: 1px;

    &:first-child {
        margin-left: 0;
    }

    &.c-label--remedio {
        background-color: color($gray, 600);
        color: color($blue, 100);
    }
    &.c-label--reabilitacao {
        background-color: #FAC9C4;
        color: color($pink, 100);
    }
    &.c-label--questionario {
        background-color: #F8D7A4;
        color: color($orange, 100);
    }
}

.logo {
    font-size: 0;
    display: inline-block;
    vertical-align: bottom;

    img {
        width: 174px;
        @include bp($desktop) {
            width: auto;
        }
    }
}

.menu {
    @include bp($desktop) {
        float: right;
    }

    .acion-menu-mobile {
        position: absolute;
        z-index: 9999;
        top: 20px;
        right: 40px;
        display: block;
        
        @include bp($desktop) {
            display: none;
        }

        .icon {
            position: absolute;

            &.ico-menu {
                svg {
                    fill: color($blue, 100);
                }
            }

            &.ico-close {
                display: none;
            }

            svg {
                width: 20px;
                height: 20px;
                fill: color($yellow, 200);
            }
        }

        &.open-menu {
            display: block;
            position: fixed;
            right: 40px;
            .ico-menu {
                display: none;
            }
            .ico-close {
                display: block;
            } 
         }
    }
}

.c-nav {
    list-style: none;
    .c-nav__item {
        list-style: none;
        position: relative;
        margin: 0 0 14px 0;
        @include bp($desktop) {
            display: inline-block;
            margin: 0 0 0 28px;
            vertical-align: top;
            
            &::after {
                position: absolute;
                top: 120%;
                left: 0;
                width: 100%;
                height: 4px;
                background: rgba(0,0,0,.1);
                content: "";
                opacity: 0;
                transition: opacity .3s,-webkit-transform .3s;
                transition: opacity .3s,transform .3s;
                transition: opacity .3s,transform .3s,-webkit-transform .3s;
                -webkit-transform: translateY(10px);
                transform: translateY(10px);
            }
        }
        .c-nav__link {
            @include em(18);
            text-decoration: none;
            font-weight: bold;
            position: relative;
            display: block;
            letter-spacing: 1px;
            @include bp($desktop) {
                @include em(16);
            }
        }
        &.c-nav__item--icon {
            svg {
                width: 10px;
                height: 10px;
            }
        }
        .c-nav__dropdown {
            .c-nav__dropdown-item {
                display: block;
                text-decoration: none;
                margin: 10px 0;
            }
        }
        .c-nav__icon {
            &.c-nav__icon--user {
                width: 16px;
                height: 16px;
            }
        }
    }
}

.c-nav-settings {
    padding: 20px;
    a {
        font-size: 0;
    }
    .c-nav-settings__link {
        display: block;
        margin: 20px 0;
        svg {
            fill: color($pink, 100);
            width: 20px;
            height: 20px;
        }
    }
}
